<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js ie ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

    <head>

        <meta charset="utf-8">

        <title>MyCollege | Course</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">

        <link rel="stylesheet" href="css/main.css">  
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />

        <!--[if lt IE 9]>
         <script src="js/html5shiv.js"></script>
        <![endif]-->


    </head>
    <body>

        <!-- SITE CONTENT -->

        <!-- Menu -->
        <header>
            <div class="parentContainer">
                <div id="socialButtons">
                    <a href="#" id="linked">
                        <p>Connect width linked </p> 
                        <span>linked </span>
                    </a>
                    <a href="#" id="facebook">
                        <p>Like Us on Facebook </p> 
                        <span>Facebook</span>
                    </a>
                </div>
            </div>
            <div>
                <div id="menu">
                    <section>
                        <a href="index.html"><img src="img/logo.png" alt=""></a>
                        <ul class="clearfix">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="gallery.html">Our Gallery</a></li>
                                    <li><a href="features.html">Features</a></li>
                                </ul>
                            </li>
                            <li class="selected"><a href="course.html">Course</a></li>
                            <li><a href="professors.html">Professors</a></li>
                            <li><a href="blog-grid.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </section>
                </div>
                <div id="tagline">
                    <section>
                        <a href="#">“ Admission Open for 2012 click here to <strong>Get Form</strong> ”</a>
                    </section>
                </div>
                <div id="info">
                    <section>
                        <div>
                            <img src="img/phone.png" alt="">
                            <h2>1-800-643-4300</h2>
                            <h4>E104  Dharti II, Ahmedabad,Gujarat, India.</h4>
                        </div>
                        <span class="element leftElement"></span>
                        <span class="triangle">triangle</span>
                    </section>
                </div>               
            </div>    
        </header>   


        <!-- CONTENT -->

        <div id="contentBk" class="clearfix">

            <div id="content">
                <div class="topImg clearfix">
                    <img src="img/headers/header_2.jpg" alt="About Us">
                    <p>Our <strong>Course</strong></p>
                </div>

                <div class="wrapper">

                    <div class="course column c-67 clearfix">

                        <h3 class="title">List <strong>View</strong></h3>

                        <div class="box">
                            <ul class="courseId">
                                <li>Course name</li>
                                <li>Course ID: 691</li>
                            </ul>
                            <div class="boxInfo">
                                <p>Something about course iusmod tempor doloreidoloreiusmod tempor usmod tempordolor eiusmod tempor...</p>
                            </div>
                            <div class="courseInfo">
                                <p class="courseTime">Time: 13.00-16.00</p>
                                <ul>
                                    <li class="courseRoom">Room No: T250</li>
                                    <li class="courseInstructor">Instructor: Nibh Cras</li>
                                </ul>
                            </div>
                        </div>

                        <div class="box">
                            <ul class="courseId">
                                <li>Course name</li>
                                <li>Course ID: 691</li>
                            </ul>
                            <div class="boxInfo">
                                <p>Something about course iusmod tempor doloreidoloreiusmod tempor usmod tempordolor eiusmod tempor...</p>
                            </div>
                            <div class="courseInfo">
                                <p class="courseTime">Time: 13.00-16.00</p>
                                <ul>
                                    <li class="courseRoom">Room No: T250</li>
                                    <li class="courseInstructor">Instructor: Nibh Cras</li>
                                </ul>
                            </div>
                        </div>

                        <div class="box">
                            <ul class="courseId">
                                <li>Course name</li>
                                <li>Course ID: 691</li>
                            </ul>
                            <div class="boxInfo">
                                <p>Something about course iusmod tempor doloreidoloreiusmod tempor usmod tempordolor eiusmod tempor...</p>
                            </div>
                            <div class="courseInfo">
                                <p class="courseTime">Time: 13.00-16.00</p>
                                <ul>
                                    <li class="courseRoom">Room No: T250</li>
                                    <li class="courseInstructor">Instructor: Nibh Cras</li>
                                </ul>
                            </div>
                        </div>

                        <h3 class="title">Tabel <strong>View</strong></h3>

                        <table class="box">
                             <tr class="tableHeader">
                                <th>Course ID</th>
                                <th>Course Name</th>
                                <th>Instructor</th>
                                <th>Room Number</th>
                                <th>Time</th>
                             </tr>
                             <tr>
                                <td>001</td>
                                <td>Calculus</td>
                                <td>NIbh Cras</td>
                                <td>T250</td>
                                <td>13.00-16.00</td>
                             </tr>
                             <tr>
                                <td>002</td>
                                <td>Physics</td>
                                <td>Mr Jordan</td>
                                <td>HB290</td>
                                <td>09.00-12.00</td>
                             </tr>
                             <tr>
                                <td>003</td>
                                <td>Chemistry</td>
                                <td>MS Casper</td>
                                <td>Gj989</td>
                                <td>13.00-15.00</td>
                             </tr>
                             <tr>
                                <td>004</td>
                                <td>Biology</td>
                                <td>John Doe</td>
                                <td>T660</td>
                                <td>13.00-16.00</td>
                             </tr>
                             <tr>
                                <td>005</td>
                                <td>Calculus</td>
                                <td>NIbh Cras</td>
                                <td>T250</td>
                                <td>09.00-12.00</td>
                             </tr>
                             <tr>
                                <td>006</td>
                                <td>Calculus</td>
                                <td>NIbh Cras</td>
                                <td>T250</td>
                                <td>13.00-16.00</td>
                             </tr>
                             <tr>
                                <td>007</td>
                                <td>Calculus</td>
                                <td>NIbh Cras</td>
                                <td>T250</td>
                                <td>13.00-16.00</td>
                             </tr>
                             <tr>
                                <td>008</td>
                                <td>Calculus</td>
                                <td>NIbh Cras</td>
                                <td>T250</td>
                                <td>13.00-16.00</td>
                             </tr>
                             <tr>
                                <td>009</td>
                                <td>Calculus</td>
                                <td>NIbh Cras</td>
                                <td>T250</td>
                                <td>13.00-16.00</td>
                             </tr>
                             <tr>
                                <td>010</td>
                                <td>Calculus</td>
                                <td>NIbh Cras</td>
                                <td>T250</td>
                                <td>13.00-16.00</td>
                             </tr>

                        </table>
                    </div>

                    <div id="sidebar" class="column c-33 clearfix">

                        <div class="clearfix">
                            <div class="box">
                                <a href="#"><h4>Professor: <strong>Jasson Wilss</strong></h4></a>
                                <div class="boxInfo">
                                    <img class="fwidth" src="img/professors/p1.jpg" alt="">
                                    <h6>Chemestry professor</h6>
                                    <p>Lorem ipsum doloreiusmod tempor dolorei doloreiusmod tempor usmod tempordolor eiusmod tempor...</p>
                                </div>
                            </div>
                        </div>

                        <div class="links clearfix">
                            <div class="box">
                                <h4>Quick <strong>Links</strong></h4>
                                <div class="boxInfo">
                                    <ul>
                                        <li><a href="#">After Graduation</a></li>
                                        <li><a href="#">Continuing Education</a></li>
                                        <li><a href="#">Introducing Genetic Engineeringon</a></li>
                                        <li><a href="#">Celebrating Funder's Day</a></li>
                                        <li><a href="#">Admissions are open for 2012</a></li>
                                        <li><a href="#">The university Building</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="clearfix">
                            <div class="box tour course">
                                <h4>Campus <strong>tour</strong></h4>
                                <div class="boxInfo clearfix">
                                    <iframe class="fwidth" src="http://player.vimeo.com/video/34015882?title=0&amp;byline=0&amp;portrait=0&amp;color=4496D2" width="303" height="170"  webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    <p>Lorem ipsum dolor sit amet, consectetur sit amet
                                    eiusmod tempor incididunt ut labore.</p>
                                </div> 
                            </div> 
                        </div> 

                    </div> 

                </div>

            </div>
        </div>

        <!-- FOOTER -->

      <footer>

            <div class="stripe clearfix">
                <div class="twitter">
                    <img src="img/twitter.png" alt=""><div class="twitterList" data-user="rubenbristian"></div>
                </div>
            </div>

            <div class="mail">
                <div>
                    <div class="mailInfo">
                        <div>
                            <h4>Newsletter Signup</h4>
                            <input id="mailInput" type="text" />
                            <input id="mailSubmit" type="submit" value="Go"/>
                        </div>
                    </div>
                    <span class="triangle">triangle</span>
                    <span class="element rightElement"></span>
                </div>
            </div> 

            <div id="footerContent" >
                <section>
                    <div class="clearfix">

                        <div class="links column c-30 clearfix ">
                            <h3>Recent Posts</h3>
                            <ul>
                                <li><a href="#">After Graduation</a></li>
                                <li><a href="#">Continuing Education</a></li>
                                <li><a href="#">Introducing Genetic</a></li>
                                <li><a href="#">Celebrating Founder's Day</a></li>
                            </ul>
                        </div>

                        <div class="news column c-40 clearfix">
                            <h3>Popular Posts Widget</h3>
                            <div class="clearfix">
                                <div class="post clearfix">
                                    <img src="img/other/news.png" alt="">
                                    <div class="info">
                                        <a href="#"><h5>Admissions open for 2012</h5></a>
                                        <span>Posted on 07 jan 2012</span>
                                        <p>Lorem ipsum dolor sit amet set..</p>
                                    </div>
                                </div>
                                <div class="post clearfix ">
                                    <img src="img/other/news.png" alt="">
                                    <div class="info">
                                        <a href="#"><h5>Admissions open for 2012</h5></a>
                                        <span>Posted on 07 jan 2012</span>
                                        <p>Lorem ipsum dolor sit amet set..</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="contact column c-30 clearfix ">
                            <h3>Contact Form</h3>
                            <input id="name" type="text" value="Name" />
                            <input id="mail" type="text" value="Email" />
                            <textarea id="message">Message</textarea>

                            <input id="submit" class="submit" type="submit" value="Submit"/>
                        </div>
                    </div>
                    <div id="bottomFooter">
                        <p>© 2012 My College. All Rights Reserved</p>
                        <div>
                            <ul id="social" >
                                <li><a href="#" id="finalTwitter">twitter</a></li>
                                <li><a href="#" id="finalFacebook">facebook</a></li>
                                <li><a href="#" id="finalFlickr">flickr</a></li>
                                <li><a href="#" id="finalRss">rss</a></li>
                            </ul>
                            <ul id="legal">
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Condition</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </footer>

        <!-- END SITE CONTENT -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/scripts.js"></script>

    </body>
</html>
